<section>
    <div class="center">
        <div class="jumbotron">
        <h1 class="display-4 pt-5 font-weight-bold">Health Crew</h1>
        <hr class="my-4">
        <p class="font-weight-bold text-uppercase">Bienvenu parmi notre communautée de sportifs de tous niveaux</p>
        <%= link_to 'Sinscrire', '#', class:"btn btn-success btn-lg"%>
        </div>
    </div>
</section>

<section id="info" class="py-5">
    <div class="container">
        <div class="row">
            <div id="txtLaptop" class="col-md-6 align-self-center">
                <h3>Pourquoi rejoindre notre communautée ?</h3>
                <p>
                    Nous partageons des valeurs sportives quelque soit la discipline ainsi que notre savoir et l'envie d'apprendre de nouvelles
                    choses entre nous.
                </p>
                <p>
                Un discord est mis en place pour des échanges plus rapides entres chaque utilisateurs. 
                </p>
                <a href="https://discord.gg/2zvA2wJ" target="_blank" class="btn btn-outline-dark">Rejoindre le Discord</a>
            </div>
            <div class="col-md-6">
            <p class="offset-3"><%= image_tag("discordus.png",size: "150x150", :alt => "logo discord health crew") %><p>
            </div>
        </div>
    </div>
</section>


