/*Navbar*/
#logo {
  float: left;
  font-size: 1, 9em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

/*Home*/

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("world.jpg");
  background-repeat: none;
  background-size: cover;
  height: 500px;
}

.jumbotron h1 {
}
