/*Navbar*/
#logo {
  float: left;
  font-size: 1, 9em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

/*Home*/

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("world.jpg");
  background-repeat: none;
  background-size: cover;
  height: 500px;
}

.jumbotron h1 {
  font-family: italic;
}

/*footer*/
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #28a745; /*Ligne*/
  text-decoration: none;
}

footer small {
  /* restera à gauche */
  float: left;
}

footer ul {
  /* restera à droite*/
  float: right;
  list-style: none;
  /* retire les points*/
}

footer ul li {
  float: left;
  margin-left: 15px;
}

footer a {
  color: #28a745;
}

