<section>
    <div class="container">
        <footer>
            <small>
                <a href="https://www.youtube.com/watch?v=iv8GW1GaoIc", title="The Doors", target="_blank"> The Doors</a>
            </small>
            <nav>
                <ul>
                    <li><a href="https://www.linkedin.com/in/harry-knight-134679182/" >Linkedin</a></li>
                    <li><%= link_to "Posts",posts_path, class:"text-success"%></li>
                </ul>
            </nav>
        </footer>
    </div>
</section>